@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 16px;
  background-color: #1a202c;
}

.App {
  font-family: sans-serif;
  height: 100vh;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
}

.editor {
  background-color: black;
  position: absolute;
  top: 200px;
  left: 5%;
  transform: translateX(-50%);
  z-index: 1300;     
  width: 50%;
  height: 50%;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.buttons-wrapper {
  display: flex;
  gap: 1rem;
}

.align-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.preview-wrapper {
  /* display: flex; */
  /* flex: 1; */
  /* height: 50%; */
  width: 94%;
  margin-top: 3%;
  /* padding: 1rem; */
  overflow-y: scroll;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}

.sheet-music {
  height: 300px; 
  overflow-x: auto !important; 
  overflow-y: hidden !important; 
  white-space: nowrap; 
}
.sheet-music svg {
  height: 100%; 
  width: auto;  
}

.secondBar {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  justify-content: space-between;
}

.addNoteBox {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
}

.paramsBox {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
}

.secondBarText {
  font-size: 1.2rem;
}